
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antique Bakery Cafe HTML Template by Tooplate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Oswald:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'sta/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'sta/css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'sta/css/tooplate-antique-cafe.css' %}">
</head>

<body>
    <div style="background-image:url('{% static 'sta/img/antique-cafe-bg-01.jpg' %}');">
        <div class="sm:pb-200 sm:pt-18 py-10">
            <div class="bg-opacity-70 p-12 mb-5 text-center mx-auto">
                <h1 class="text-white text-5xl tm-logo-font mb-5" style="font-size:100px">OUR PRODUCTS</h1>
                <p class="text-white tm-text-2xl">your daily energy booster</p>
            </div>

            <div class="flex flex-wrap justify-center">
                <!-- First Row -->
                <div class="w-full md:w-1/2 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">
                    <div class="flex items-start mb-6 tm-menu-item">
                        <img src="{% static 'sta/img/kfc-burger.jpg' %}" alt="Caribbean Spicy Zinger Burger" class="rounded-md" style="width: 160px; height: 130px;">
                        <div class="ml-3 sm:ml-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Caribbean Spicy Zinger Burger</h3>
                            <div class="text-white text-md sm:text-lg font-light">&#8377; 399</div><br>
                            <button class="mt-2 bg-yellow-500 text-white py-2 px-4 rounded md inline-block tm-bg-green transition text-white">Add Iteam</button>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">
                    <div class="flex items-start mb-6 tm-menu-item">
                        <img src="{% static 'sta/img/kfc1.jpg' %}" alt="Caribbean Zinger Burger & Popcorn Meal" class="rounded-md" style="width: 160px; height: auto;">
                        <div class="ml-3 sm:ml-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Caribbean Zinger Burger & Popcorn Meal</h3>
                            <div class="text-white text-md sm:text-lg font-light">&#8377; 499</div><br>
                           <button class="mt-2 bg-yellow-500 text-white py-2 px-4 rounded md inline-block tm-bg-green transition text-white">Add Iteam</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Row -->
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-1/2 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">
                    <div class="flex items-start mb-6 tm-menu-item">
                        <img src="{% static 'sta/img/kfc2.jpg' %}" alt="The Chicken Combo" class="rounded-md" style="width: 160px; height: auto;">
                        <div class="ml-3 sm:ml-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">The Chicken Combo</h3>
                            <div class="text-white text-md sm:text-lg font-light">&#8377; 299</div><br>
                           <button class="mt-2 bg-yellow-500 text-white py-2 px-4 rounded md inline-block tm-bg-green transition text-white">Add Iteam</button>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">
                    <div class="flex items-start mb-6 tm-menu-item">
                        <img src="{% static 'sta/img/kfc3.jpg' %}" alt="Veg Burger" class="rounded-md" style="width: 160px; height: auto;">
                        <div class="ml-3 sm:ml-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Veg Burger</h3>
                            <div class="text-white text-md sm:text-lg font-light">&#8377; 199</div><br>
                           <button class="mt-2 bg-yellow-500 text-white py-2 px-4 rounded md inline-block tm-bg-green transition text-white">Add Iteam</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third Row -->
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-1/2 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">
                    <div class="flex items-start mb-6 tm-menu-item">
                        <img src="{% static 'sta/img/kfc4.jpg' %}" alt="BBQ Chicken Burger" class="rounded-md" style="width: 160px; height: auto;">
                        <div class="ml-3 sm:ml-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">BBQ Chicken Burger</h3>
                            <div class="text-white text-md sm:text-lg font-light">&#8377; 399</div><br>
                           <button class="mt-2 bg-yellow-500 text-white py-2 px-4 rounded md inline-block tm-bg-green transition text-white">Add Iteam</button>
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 m-5 rounded-xl px-4 py-6 sm:px-8 sm:py-10 tm-bg-brown tm-item-container">
                    <div class="flex items-start mb-6 tm-menu-item">
                        <img src="{% static 'sta/img/kfc5.jpg' %}" alt="Cheese Burst Burger" class="rounded-md" style="width: 160px; height: auto;">
                        <div class="ml-3 sm:ml-6">
                            <h3 class="text-lg sm:text-xl mb-2 sm:mb-3 tm-text-yellow">Cheese Burst Burger</h3>
                            <div class="text-white text-md sm:text-lg font-light">&#8377; 499</div><br>
                           <button class="mt-2 bg-yellow-500 text-white py-2 px-4 rounded md inline-block tm-bg-green transition text-white">Add Iteam</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
